In [1]:
using LinearAlgebra, DataFrames, CSV, Query, Random, StatsBase, Statistics

# Dataprep

## Reading the Data

Reading in the CSV-file which i acquired from Kaggle.

In [2]:
cc = CSV.read("Data/UCI_Credit_Card.csv")
cols = names(cc)
println(describe(cc))

25×8 DataFrame
│ Row │ variable                   │ mean      │ min       │ median   │ max       │ nunique │ nmissing │ eltype   │
│     │ Symbol                     │ Float64   │ Real      │ Float64  │ Real      │ Nothing │ Nothing  │ DataType │
├─────┼────────────────────────────┼───────────┼───────────┼──────────┼───────────┼─────────┼──────────┼──────────┤
│ 1   │ ID                         │ 15000.5   │ 1         │ 15000.5  │ 30000     │         │          │ Int64    │
│ 2   │ LIMIT_BAL                  │ 1.67484e5 │ 10000.0   │ 140000.0 │ 1.0e6     │         │          │ Float64  │
│ 3   │ SEX                        │ 1.60373   │ 1         │ 2.0      │ 2         │         │          │ Int64    │
│ 4   │ EDUCATION                  │ 1.85313   │ 0         │ 2.0      │ 6         │         │          │ Int64    │
│ 5   │ MARRIAGE                   │ 1.55187   │ 0         │ 2.0      │ 3         │         │          │ Int64    │
│ 6   │ AGE                        │ 35.4855   │ 21        │ 34.0     │ 79        │         │          │ Int64    │
│ 7   │ PAY_0                      │ -0.0167   │ -2        │ 0.0      │ 8         │         │          │ Int64    │
│ 8   │ PAY_2                      │ -0.133767 │ -2        │ 0.0      │ 8         │         │          │ Int64    │
│ 9   │ PAY_3                      │ -0.1662   │ -2        │ 0.0      │ 8         │         │          │ Int64    │
│ 10  │ PAY_4                      │ -0.220667 │ -2        │ 0.0      │ 8         │         │          │ Int64    │
│ 11  │ PAY_5                      │ -0.2662   │ -2        │ 0.0      │ 8         │         │          │ Int64    │
│ 12  │ PAY_6                      │ -0.2911   │ -2        │ 0.0      │ 8         │         │          │ Int64    │
│ 13  │ BILL_AMT1                  │ 51223.3   │ -165580.0 │ 22381.5  │ 964511.0  │         │          │ Float64  │
│ 14  │ BILL_AMT2                  │ 49179.1   │ -69777.0  │ 21200.0  │ 983931.0  │         │          │ Float64  │
│ 15  │ BILL_AMT3                  │ 47013.2   │ -157264.0 │ 20088.5  │ 1.66409e6 │         │          │ Float64  │
│ 16  │ BILL_AMT4                  │ 43262.9   │ -170000.0 │ 19052.0  │ 891586.0  │         │          │ Float64  │
│ 17  │ BILL_AMT5                  │ 40311.4   │ -81334.0  │ 18104.5  │ 927171.0  │         │          │ Float64  │
│ 18  │ BILL_AMT6                  │ 38871.8   │ -339603.0 │ 17071.0  │ 961664.0  │         │          │ Float64  │
│ 19  │ PAY_AMT1                   │ 5663.58   │ 0.0       │ 2100.0   │ 873552.0  │         │          │ Float64  │
│ 20  │ PAY_AMT2                   │ 5921.16   │ 0.0       │ 2009.0   │ 1.68426e6 │         │          │ Float64  │
│ 21  │ PAY_AMT3                   │ 5225.68   │ 0.0       │ 1800.0   │ 896040.0  │         │          │ Float64  │
│ 22  │ PAY_AMT4                   │ 4826.08   │ 0.0       │ 1500.0   │ 621000.0  │         │          │ Float64  │
│ 23  │ PAY_AMT5                   │ 4799.39   │ 0.0       │ 1500.0   │ 426529.0  │         │          │ Float64  │
│ 24  │ PAY_AMT6                   │ 5215.5    │ 0.0       │ 1500.0   │ 528666.0  │         │          │ Float64  │
│ 25  │ default.payment.next.month │ 0.2212    │ 0         │ 0.0      │ 1         │         │          │ Int64    │

## Inspection & Preparation of the Data

### SEX

This variable is categorical. 

We have `1 = Male` and `2 = Female`.

I map this to `0 = Male` and `1 = Female`.

In [3]:
unique(cc[:SEX])

┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[3]:1
└ @ Core In[3]:1

2-element Array{Int64,1}:
 2
 1

In [4]:
cc[:SEX] = map(s -> ifelse(s == 1, 0, 1), cc.SEX)

┌ Warning: `setindex!(df::DataFrame, v::AbstractVector, col_ind::ColumnIndex)` is deprecated, use `begin
│     df[!, col_ind] = v
│     df
│ end` instead.
│   caller = top-level scope at In[4]:1
└ @ Core In[4]:1

30000-element Array{Int64,1}:
 1
 1
 1
 1
 0
 0
 0
 1
 1
 0
 1
 1
 1
 ⋮
 0
 0
 0
 0
 0
 0
 0
 0
 0
 0
 0
 0

### EDUCATION

According to the UCI post where they explain the data, the coding for this variable is as follows:
* `1 = graduate school`
* `2 = university`
* `3 = high school`
* `4 = others`

But there are some additional values that can be found in the data, which are not explained by the researchers. I map this variable in the following way.
* `1 = graduate school`
* `2 = university`
* `3 = high school`
* `4 = others`
* `! in 1, 2, 3, 4 => 5 = unknown`

This data is ordinal, i.e. it is possible to rank but not determine relative "value" of one category compared to another.

In [5]:
sort(unique(cc.EDUCATION))

7-element Array{Int64,1}:
 0
 1
 2
 3
 4
 5
 6

In [6]:
cc[:EDUCATION] = map(s -> ifelse(s in (1, 2, 3, 4), s, 5), cc.EDUCATION)
sort(unique(cc.EDUCATION))

┌ Warning: `setindex!(df::DataFrame, v::AbstractVector, col_ind::ColumnIndex)` is deprecated, use `begin
│     df[!, col_ind] = v
│     df
│ end` instead.
│   caller = top-level scope at In[6]:1
└ @ Core In[6]:1

5-element Array{Int64,1}:
 1
 2
 3
 4
 5

### Marriage

According to UCI the coding for this variable is as follows:
* `1 = married`
* `2 = single`
* `3 = others`

There is an unknown value here as well, but since there are not that many marital statuses, I add them to the `others` category.
* `1 = married`
* `2 = single`
* `3 = others`
* `! in 1, 2, 3 => 3 = others`

This data is categorical.

In [7]:
sort(unique(cc.MARRIAGE))

4-element Array{Int64,1}:
 0
 1
 2
 3

In [8]:
cc[:MARRIAGE] = map(s -> ifelse(s in (1, 2, 3), s, 3), cc.MARRIAGE)
sort(unique(cc.MARRIAGE))

┌ Warning: `setindex!(df::DataFrame, v::AbstractVector, col_ind::ColumnIndex)` is deprecated, use `begin
│     df[!, col_ind] = v
│     df
│ end` instead.
│   caller = top-level scope at In[8]:1
└ @ Core In[8]:1

3-element Array{Int64,1}:
 1
 2
 3

### Pay

The variables PAY_0, PAY_2, PAY_3, PAY_4, PAY_5, and PAY_6 supposedly have the following mapping:
* `-1 = pay duly`
* `1 = 1 mnth over due`
* `2 = 2 mnth over due`
* ...
* `8 = 8 mnth over due`
* `9 = 9 mnth or more over due`

But there are some unknown values to be found for these variables also. Since these are ordinal variables, and since it is justifiable to treat them as interval data (i.e. that being 2 months over due is twice the amount of time past due as someone being 1 month over due), I assume that the values `-2`, `-1` and `0` all mean `pay duly` and map them to a new label `0`. 

In the logreg model later, this gives the interpretation that the coefficients for the PAY variable change the predicted logodds of default by twice the amount if someone is 2 months behind compared to 1 month, and 0 if they pay duly.

In [9]:
for i in [0, 2, 3, 4, 5, 6]
    #println(Symbol("PAY_", i))
    cc[Symbol("PAY_", i)] = map(s -> ifelse(s in (-2, -1), 0, s),
                                cc[Symbol("PAY_", i)])
end

┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[9]:3
└ @ Core In[9]:3
┌ Warning: `setindex!(df::DataFrame, v::AbstractVector, col_ind::ColumnIndex)` is deprecated, use `begin
│     df[!, col_ind] = v
│     df
│ end` instead.
│   caller = top-level scope at In[9]:3
└ @ Core In[9]:3

#### Inspection after cleaning

In [10]:
println(describe(cc))

25×8 DataFrame
│ Row │ variable                   │ mean      │ min       │ median   │ max       │ nunique │ nmissing │ eltype   │
│     │ Symbol                     │ Float64   │ Real      │ Float64  │ Real      │ Nothing │ Nothing  │ DataType │
├─────┼────────────────────────────┼───────────┼───────────┼──────────┼───────────┼─────────┼──────────┼──────────┤
│ 1   │ ID                         │ 15000.5   │ 1         │ 15000.5  │ 30000     │         │          │ Int64    │
│ 2   │ LIMIT_BAL                  │ 1.67484e5 │ 10000.0   │ 140000.0 │ 1.0e6     │         │          │ Float64  │
│ 3   │ SEX                        │ 0.603733  │ 0         │ 1.0      │ 1         │         │          │ Int64    │
│ 4   │ EDUCATION                  │ 1.85377   │ 1         │ 2.0      │ 5         │         │          │ Int64    │
│ 5   │ MARRIAGE                   │ 1.55727   │ 1         │ 2.0      │ 3         │         │          │ Int64    │
│ 6   │ AGE                        │ 35.4855   │ 21        │ 34.0     │ 79        │         │          │ Int64    │
│ 7   │ PAY_0                      │ 0.356767  │ 0         │ 0.0      │ 8         │         │          │ Int64    │
│ 8   │ PAY_2                      │ 0.320033  │ 0         │ 0.0      │ 8         │         │          │ Int64    │
│ 9   │ PAY_3                      │ 0.304067  │ 0         │ 0.0      │ 8         │         │          │ Int64    │
│ 10  │ PAY_4                      │ 0.258767  │ 0         │ 0.0      │ 8         │         │          │ Int64    │
│ 11  │ PAY_5                      │ 0.2215    │ 0         │ 0.0      │ 8         │         │          │ Int64    │
│ 12  │ PAY_6                      │ 0.226567  │ 0         │ 0.0      │ 8         │         │          │ Int64    │
│ 13  │ BILL_AMT1                  │ 51223.3   │ -165580.0 │ 22381.5  │ 964511.0  │         │          │ Float64  │
│ 14  │ BILL_AMT2                  │ 49179.1   │ -69777.0  │ 21200.0  │ 983931.0  │         │          │ Float64  │
│ 15  │ BILL_AMT3                  │ 47013.2   │ -157264.0 │ 20088.5  │ 1.66409e6 │         │          │ Float64  │
│ 16  │ BILL_AMT4                  │ 43262.9   │ -170000.0 │ 19052.0  │ 891586.0  │         │          │ Float64  │
│ 17  │ BILL_AMT5                  │ 40311.4   │ -81334.0  │ 18104.5  │ 927171.0  │         │          │ Float64  │
│ 18  │ BILL_AMT6                  │ 38871.8   │ -339603.0 │ 17071.0  │ 961664.0  │         │          │ Float64  │
│ 19  │ PAY_AMT1                   │ 5663.58   │ 0.0       │ 2100.0   │ 873552.0  │         │          │ Float64  │
│ 20  │ PAY_AMT2                   │ 5921.16   │ 0.0       │ 2009.0   │ 1.68426e6 │         │          │ Float64  │
│ 21  │ PAY_AMT3                   │ 5225.68   │ 0.0       │ 1800.0   │ 896040.0  │         │          │ Float64  │
│ 22  │ PAY_AMT4                   │ 4826.08   │ 0.0       │ 1500.0   │ 621000.0  │         │          │ Float64  │
│ 23  │ PAY_AMT5                   │ 4799.39   │ 0.0       │ 1500.0   │ 426529.0  │         │          │ Float64  │
│ 24  │ PAY_AMT6                   │ 5215.5    │ 0.0       │ 1500.0   │ 528666.0  │         │          │ Float64  │
│ 25  │ default.payment.next.month │ 0.2212    │ 0         │ 0.0      │ 1         │         │          │ Int64    │

## One-Hot Encoding

The following variables are either categorical or ordinal without being suited to be treated as interval variables:
* `SEX`
* `EDUCATION`
* `MARRIAGE`

By coding `SEX` as a binary variable, it is not necessary to perform one-hot encoding of this variable, since 0 = Male becomes the reference, and the coefficient for `SEX` is interpreted as the exposure relative to the reference, and only adds to the logodds when `SEX` = 1 = Female. 

For `EDUCATION` and `MARRIAGE`, one-hot encoding is necessary.

In [11]:
function OneHot(x::Vector{Int64}, lab::Symbol)
    p = sort(unique(x))
    colname = string(lab)
    OHdf = DataFrame(keys = p)

    for i in 1:length(p)
        val = p[i]
        v = map(s -> ifelse(s == val, 1, 0), OHdf.keys)
        insertcols!(OHdf, i+1, Symbol(colname, val) => v)
    end
    OHdf
end

OneHot (generic function with 1 method)

In [12]:
# Education variable
edu = Vector(cc[:EDUCATION])
lab = :EDUCATION
M1 = OneHot(edu, lab)
M1

┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[12]:1
└ @ Core In[12]:1

5×6 DataFrame
│ Row │ keys  │ EDUCATION1 │ EDUCATION2 │ EDUCATION3 │ EDUCATION4 │ EDUCATION5 │
│     │ Int64 │ Int64      │ Int64      │ Int64      │ Int64      │ Int64      │
├─────┼───────┼────────────┼────────────┼────────────┼────────────┼────────────┤
│ 1   │ 1     │ 1          │ 0          │ 0          │ 0          │ 0          │
│ 2   │ 2     │ 0          │ 1          │ 0          │ 0          │ 0          │
│ 3   │ 3     │ 0          │ 0          │ 1          │ 0          │ 0          │
│ 4   │ 4     │ 0          │ 0          │ 0          │ 1          │ 0          │
│ 5   │ 5     │ 0          │ 0          │ 0          │ 0          │ 1          │

In [13]:
# Marriage variable
marriage = Vector(cc[:MARRIAGE])
lab = :MARRIAGE
M2 = OneHot(marriage, lab)
M2

┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[13]:1
└ @ Core In[13]:1

3×4 DataFrame
│ Row │ keys  │ MARRIAGE1 │ MARRIAGE2 │ MARRIAGE3 │
│     │ Int64 │ Int64     │ Int64     │ Int64     │
├─────┼───────┼───────────┼───────────┼───────────┤
│ 1   │ 1     │ 1         │ 0         │ 0         │
│ 2   │ 2     │ 0         │ 1         │ 0         │
│ 3   │ 3     │ 0         │ 0         │ 1         │

#### Adding back into the dataframe

In [14]:
cc = join(cc, M1, on = :EDUCATION => :keys)

println(describe(cc))

30×8 DataFrame
│ Row │ variable                   │ mean      │ min       │ median   │ max       │ nunique │ nmissing │ eltype   │
│     │ Symbol                     │ Float64   │ Real      │ Float64  │ Real      │ Nothing │ Nothing  │ DataType │
├─────┼────────────────────────────┼───────────┼───────────┼──────────┼───────────┼─────────┼──────────┼──────────┤
│ 1   │ ID                         │ 15000.5   │ 1         │ 15000.5  │ 30000     │         │          │ Int64    │
│ 2   │ LIMIT_BAL                  │ 1.67484e5 │ 10000.0   │ 140000.0 │ 1.0e6     │         │          │ Float64  │
│ 3   │ SEX                        │ 0.603733  │ 0         │ 1.0      │ 1         │         │          │ Int64    │
│ 4   │ EDUCATION                  │ 1.85377   │ 1         │ 2.0      │ 5         │         │          │ Int64    │
│ 5   │ MARRIAGE                   │ 1.55727   │ 1         │ 2.0      │ 3         │         │          │ Int64    │
│ 6   │ AGE                        │ 35.4855   │ 21        │ 34.0     │ 79        │         │          │ Int64    │
│ 7   │ PAY_0                      │ 0.356767  │ 0         │ 0.0      │ 8         │         │          │ Int64    │
│ 8   │ PAY_2                      │ 0.320033  │ 0         │ 0.0      │ 8         │         │          │ Int64    │
│ 9   │ PAY_3                      │ 0.304067  │ 0         │ 0.0      │ 8         │         │          │ Int64    │
│ 10  │ PAY_4                      │ 0.258767  │ 0         │ 0.0      │ 8         │         │          │ Int64    │
│ 11  │ PAY_5                      │ 0.2215    │ 0         │ 0.0      │ 8         │         │          │ Int64    │
│ 12  │ PAY_6                      │ 0.226567  │ 0         │ 0.0      │ 8         │         │          │ Int64    │
│ 13  │ BILL_AMT1                  │ 51223.3   │ -165580.0 │ 22381.5  │ 964511.0  │         │          │ Float64  │
│ 14  │ BILL_AMT2                  │ 49179.1   │ -69777.0  │ 21200.0  │ 983931.0  │         │          │ Float64  │
│ 15  │ BILL_AMT3                  │ 47013.2   │ -157264.0 │ 20088.5  │ 1.66409e6 │         │          │ Float64  │
│ 16  │ BILL_AMT4                  │ 43262.9   │ -170000.0 │ 19052.0  │ 891586.0  │         │          │ Float64  │
│ 17  │ BILL_AMT5                  │ 40311.4   │ -81334.0  │ 18104.5  │ 927171.0  │         │          │ Float64  │
│ 18  │ BILL_AMT6                  │ 38871.8   │ -339603.0 │ 17071.0  │ 961664.0  │         │          │ Float64  │
│ 19  │ PAY_AMT1                   │ 5663.58   │ 0.0       │ 2100.0   │ 873552.0  │         │          │ Float64  │
│ 20  │ PAY_AMT2                   │ 5921.16   │ 0.0       │ 2009.0   │ 1.68426e6 │         │          │ Float64  │
│ 21  │ PAY_AMT3                   │ 5225.68   │ 0.0       │ 1800.0   │ 896040.0  │         │          │ Float64  │
│ 22  │ PAY_AMT4                   │ 4826.08   │ 0.0       │ 1500.0   │ 621000.0  │         │          │ Float64  │
│ 23  │ PAY_AMT5                   │ 4799.39   │ 0.0       │ 1500.0   │ 426529.0  │         │          │ Float64  │
│ 24  │ PAY_AMT6                   │ 5215.5    │ 0.0       │ 1500.0   │ 528666.0  │         │          │ Float64  │
│ 25  │ default.payment.next.month │ 0.2212    │ 0         │ 0.0      │ 1         │         │          │ Int64    │
│ 26  │ EDUCATION1                 │ 0.352833  │ 0         │ 0.0      │ 1         │         │          │ Int64    │
│ 27  │ EDUCATION2                 │ 0.467667  │ 0         │ 0.0      │ 1         │         │          │ Int64    │
│ 28  │ EDUCATION3                 │ 0.1639    │ 0         │ 0.0      │ 1         │         │          │ Int64    │
│ 29  │ EDUCATION4                 │ 0.0041    │ 0         │ 0.0      │ 1         │         │          │ Int64    │
│ 30  │ EDUCATION5                 │ 0.0115    │ 0         │ 0.0      │ 1         │         │          │ Int64    │

In [15]:
cc = join(cc, M2, on = :MARRIAGE => :keys)

println(describe(cc))

33×8 DataFrame
│ Row │ variable                   │ mean      │ min       │ median   │ max       │ nunique │ nmissing │ eltype   │
│     │ Symbol                     │ Float64   │ Real      │ Float64  │ Real      │ Nothing │ Nothing  │ DataType │
├─────┼────────────────────────────┼───────────┼───────────┼──────────┼───────────┼─────────┼──────────┼──────────┤
│ 1   │ ID                         │ 15000.5   │ 1         │ 15000.5  │ 30000     │         │          │ Int64    │
│ 2   │ LIMIT_BAL                  │ 1.67484e5 │ 10000.0   │ 140000.0 │ 1.0e6     │         │          │ Float64  │
│ 3   │ SEX                        │ 0.603733  │ 0         │ 1.0      │ 1         │         │          │ Int64    │
│ 4   │ EDUCATION                  │ 1.85377   │ 1         │ 2.0      │ 5         │         │          │ Int64    │
│ 5   │ MARRIAGE                   │ 1.55727   │ 1         │ 2.0      │ 3         │         │          │ Int64    │
│ 6   │ AGE                        │ 35.4855   │ 21        │ 34.0     │ 79        │         │          │ Int64    │
│ 7   │ PAY_0                      │ 0.356767  │ 0         │ 0.0      │ 8         │         │          │ Int64    │
│ 8   │ PAY_2                      │ 0.320033  │ 0         │ 0.0      │ 8         │         │          │ Int64    │
│ 9   │ PAY_3                      │ 0.304067  │ 0         │ 0.0      │ 8         │         │          │ Int64    │
│ 10  │ PAY_4                      │ 0.258767  │ 0         │ 0.0      │ 8         │         │          │ Int64    │
│ 11  │ PAY_5                      │ 0.2215    │ 0         │ 0.0      │ 8         │         │          │ Int64    │
│ 12  │ PAY_6                      │ 0.226567  │ 0         │ 0.0      │ 8         │         │          │ Int64    │
│ 13  │ BILL_AMT1                  │ 51223.3   │ -165580.0 │ 22381.5  │ 964511.0  │         │          │ Float64  │
│ 14  │ BILL_AMT2                  │ 49179.1   │ -69777.0  │ 21200.0  │ 983931.0  │         │          │ Float64  │
│ 15  │ BILL_AMT3                  │ 47013.2   │ -157264.0 │ 20088.5  │ 1.66409e6 │         │          │ Float64  │
│ 16  │ BILL_AMT4                  │ 43262.9   │ -170000.0 │ 19052.0  │ 891586.0  │         │          │ Float64  │
│ 17  │ BILL_AMT5                  │ 40311.4   │ -81334.0  │ 18104.5  │ 927171.0  │         │          │ Float64  │
│ 18  │ BILL_AMT6                  │ 38871.8   │ -339603.0 │ 17071.0  │ 961664.0  │         │          │ Float64  │
│ 19  │ PAY_AMT1                   │ 5663.58   │ 0.0       │ 2100.0   │ 873552.0  │         │          │ Float64  │
│ 20  │ PAY_AMT2                   │ 5921.16   │ 0.0       │ 2009.0   │ 1.68426e6 │         │          │ Float64  │
│ 21  │ PAY_AMT3                   │ 5225.68   │ 0.0       │ 1800.0   │ 896040.0  │         │          │ Float64  │
│ 22  │ PAY_AMT4                   │ 4826.08   │ 0.0       │ 1500.0   │ 621000.0  │         │          │ Float64  │
│ 23  │ PAY_AMT5                   │ 4799.39   │ 0.0       │ 1500.0   │ 426529.0  │         │          │ Float64  │
│ 24  │ PAY_AMT6                   │ 5215.5    │ 0.0       │ 1500.0   │ 528666.0  │         │          │ Float64  │
│ 25  │ default.payment.next.month │ 0.2212    │ 0         │ 0.0      │ 1         │         │          │ Int64    │
│ 26  │ EDUCATION1                 │ 0.352833  │ 0         │ 0.0      │ 1         │         │          │ Int64    │
│ 27  │ EDUCATION2                 │ 0.467667  │ 0         │ 0.0      │ 1         │         │          │ Int64    │
│ 28  │ EDUCATION3                 │ 0.1639    │ 0         │ 0.0      │ 1         │         │          │ Int64    │
│ 29  │ EDUCATION4                 │ 0.0041    │ 0         │ 0.0      │ 1         │         │          │ Int64    │
│ 30  │ EDUCATION5                 │ 0.0115    │ 0         │ 0.0      │ 1         │         │          │ Int64    │
│ 31  │ MARRIAGE1                  │ 0.4553    │ 0         │ 0.0      │ 1         │         │          │ Int64    │
│ 32  │ MARRIAGE2                  │ 0.532133  │ 0         │ 1.0      │ 1         │         │          │ Int64    │
│ 33  │ MARRIAGE3                  │ 0.0125667 │ 0         │ 0.0      │ 1         │         │          │ Int64    │

#### Dropping & Re-ordering Columns

By dropping the columns `EDUCATION1`, `MARRIAGE1` the reference group becomes "Male, Grad School, Married".

In [16]:
keepcols = [:ID, 
            :LIMIT_BAL, 
            :SEX,
            :AGE,
            :EDUCATION2,
            :EDUCATION3,
            :EDUCATION4,
            :EDUCATION5,
            :MARRIAGE2,
            :MARRIAGE3,
            :PAY_0,
            :PAY_2,
            :PAY_3,
            :PAY_4,
            :PAY_5,
            :PAY_6,
            :BILL_AMT1,
            :BILL_AMT2,
            :BILL_AMT3,
            :BILL_AMT4,
            :BILL_AMT5,
            :BILL_AMT6,
            :PAY_AMT1,
            :PAY_AMT2,
            :PAY_AMT3,
            :PAY_AMT4,
            :PAY_AMT5,
            :PAY_AMT6,
            Symbol("default.payment.next.month")]

cc = cc[keepcols]

┌ Warning: `getindex(df::DataFrame, col_inds::Union{AbstractVector, Regex, Not})` is deprecated, use `df[:, col_inds]` instead.
│   caller = top-level scope at In[16]:30
└ @ Core In[16]:30

30000×29 DataFrame. Omitted printing of 23 columns
│ Row   │ ID    │ LIMIT_BAL │ SEX   │ AGE   │ EDUCATION2 │ EDUCATION3 │
│       │ Int64 │ Float64   │ Int64 │ Int64 │ Int64      │ Int64      │
├───────┼───────┼───────────┼───────┼───────┼────────────┼────────────┤
│ 1     │ 1     │ 20000.0   │ 1     │ 24    │ 1          │ 0          │
│ 2     │ 2     │ 120000.0  │ 1     │ 26    │ 1          │ 0          │
│ 3     │ 3     │ 90000.0   │ 1     │ 34    │ 1          │ 0          │
│ 4     │ 4     │ 50000.0   │ 1     │ 37    │ 1          │ 0          │
│ 5     │ 5     │ 50000.0   │ 0     │ 57    │ 1          │ 0          │
│ 6     │ 6     │ 50000.0   │ 0     │ 37    │ 0          │ 0          │
│ 7     │ 7     │ 500000.0  │ 0     │ 29    │ 0          │ 0          │
│ 8     │ 8     │ 100000.0  │ 1     │ 23    │ 1          │ 0          │
│ 9     │ 9     │ 140000.0  │ 1     │ 28    │ 0          │ 1          │
│ 10    │ 10    │ 20000.0   │ 0     │ 35    │ 0          │ 1          │
⋮
│ 29990 │ 29990 │ 150000.0  │ 0     │ 35    │ 0          │ 0          │
│ 29991 │ 29991 │ 140000.0  │ 0     │ 41    │ 1          │ 0          │
│ 29992 │ 29992 │ 210000.0  │ 0     │ 34    │ 1          │ 0          │
│ 29993 │ 29993 │ 10000.0   │ 0     │ 43    │ 0          │ 1          │
│ 29994 │ 29994 │ 100000.0  │ 0     │ 38    │ 0          │ 0          │
│ 29995 │ 29995 │ 80000.0   │ 0     │ 34    │ 1          │ 0          │
│ 29996 │ 29996 │ 220000.0  │ 0     │ 39    │ 0          │ 1          │
│ 29997 │ 29997 │ 150000.0  │ 0     │ 43    │ 0          │ 1          │
│ 29998 │ 29998 │ 30000.0   │ 0     │ 37    │ 1          │ 0          │
│ 29999 │ 29999 │ 80000.0   │ 0     │ 41    │ 0          │ 1          │
│ 30000 │ 30000 │ 50000.0   │ 0     │ 46    │ 1          │ 0          │

In [17]:
cc[:AGE] = Float64.(cc[:AGE])

┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[17]:1
└ @ Core In[17]:1
┌ Warning: `setindex!(df::DataFrame, v::AbstractVector, col_ind::ColumnIndex)` is deprecated, use `begin
│     df[!, col_ind] = v
│     df
│ end` instead.
│   caller = top-level scope at In[17]:1
└ @ Core In[17]:1

30000-element Array{Float64,1}:
 24.0
 26.0
 34.0
 37.0
 57.0
 37.0
 29.0
 23.0
 28.0
 35.0
 34.0
 51.0
 41.0
  ⋮
 34.0
 35.0
 41.0
 34.0
 43.0
 38.0
 34.0
 39.0
 43.0
 37.0
 41.0
 46.0

## Train & Test Splitting

To make stuff easier later, I split the dataframe into training and test sets, and write them to two separate CSV's

In [18]:
N = size(cc)[1]
inds  = 1:N
test  = sample(inds, Int(0.30*N), replace=false)
train = setdiff(inds, test)
shuffle!(train)

21000-element Array{Int64,1}:
  1955
 17385
  2966
 14246
 28096
 19513
 20251
 17299
 26655
 19718
 25816
 11153
 16288
     ⋮
 28824
 18331
 22009
  3855
 26345
  6860
  9088
 10690
 17626
 20542
 19357
 26915

In [19]:
Set(∪(test, train)) == Set(inds)

true

In [20]:
Xytrain = cc[train, :]

21000×29 DataFrame. Omitted printing of 23 columns
│ Row   │ ID    │ LIMIT_BAL │ SEX   │ AGE     │ EDUCATION2 │ EDUCATION3 │
│       │ Int64 │ Float64   │ Int64 │ Float64 │ Int64      │ Int64      │
├───────┼───────┼───────────┼───────┼─────────┼────────────┼────────────┤
│ 1     │ 1955  │ 240000.0  │ 1     │ 41.0    │ 1          │ 0          │
│ 2     │ 17385 │ 180000.0  │ 1     │ 33.0    │ 0          │ 0          │
│ 3     │ 2966  │ 50000.0   │ 1     │ 33.0    │ 1          │ 0          │
│ 4     │ 14246 │ 210000.0  │ 1     │ 36.0    │ 1          │ 0          │
│ 5     │ 28096 │ 150000.0  │ 1     │ 41.0    │ 1          │ 0          │
│ 6     │ 19513 │ 260000.0  │ 1     │ 31.0    │ 0          │ 0          │
│ 7     │ 20251 │ 100000.0  │ 1     │ 52.0    │ 1          │ 0          │
│ 8     │ 17299 │ 150000.0  │ 1     │ 34.0    │ 1          │ 0          │
│ 9     │ 26655 │ 50000.0   │ 0     │ 24.0    │ 0          │ 0          │
│ 10    │ 19718 │ 280000.0  │ 1     │ 35.0    │ 0          │ 1          │
⋮
│ 20990 │ 18331 │ 120000.0  │ 1     │ 23.0    │ 1          │ 0          │
│ 20991 │ 22009 │ 230000.0  │ 1     │ 28.0    │ 1          │ 0          │
│ 20992 │ 3855  │ 110000.0  │ 1     │ 32.0    │ 1          │ 0          │
│ 20993 │ 26345 │ 180000.0  │ 1     │ 29.0    │ 0          │ 0          │
│ 20994 │ 6860  │ 100000.0  │ 0     │ 32.0    │ 0          │ 0          │
│ 20995 │ 9088  │ 240000.0  │ 1     │ 45.0    │ 1          │ 0          │
│ 20996 │ 10690 │ 50000.0   │ 1     │ 27.0    │ 0          │ 0          │
│ 20997 │ 17626 │ 140000.0  │ 1     │ 33.0    │ 0          │ 0          │
│ 20998 │ 20542 │ 50000.0   │ 0     │ 27.0    │ 1          │ 0          │
│ 20999 │ 19357 │ 270000.0  │ 1     │ 41.0    │ 0          │ 0          │
│ 21000 │ 26915 │ 150000.0  │ 0     │ 36.0    │ 1          │ 0          │

In [21]:
Xytest = cc[test, :]

9000×29 DataFrame. Omitted printing of 23 columns
│ Row  │ ID    │ LIMIT_BAL │ SEX   │ AGE     │ EDUCATION2 │ EDUCATION3 │
│      │ Int64 │ Float64   │ Int64 │ Float64 │ Int64      │ Int64      │
├──────┼───────┼───────────┼───────┼─────────┼────────────┼────────────┤
│ 1    │ 11338 │ 120000.0  │ 0     │ 38.0    │ 0          │ 0          │
│ 2    │ 5156  │ 80000.0   │ 0     │ 27.0    │ 1          │ 0          │
│ 3    │ 4811  │ 300000.0  │ 1     │ 31.0    │ 0          │ 0          │
│ 4    │ 19155 │ 230000.0  │ 1     │ 37.0    │ 1          │ 0          │
│ 5    │ 2535  │ 50000.0   │ 0     │ 26.0    │ 1          │ 0          │
│ 6    │ 13735 │ 60000.0   │ 1     │ 46.0    │ 1          │ 0          │
│ 7    │ 24672 │ 390000.0  │ 0     │ 34.0    │ 1          │ 0          │
│ 8    │ 6365  │ 30000.0   │ 1     │ 59.0    │ 0          │ 1          │
│ 9    │ 6288  │ 200000.0  │ 1     │ 33.0    │ 0          │ 0          │
│ 10   │ 7573  │ 40000.0   │ 0     │ 37.0    │ 1          │ 0          │
⋮
│ 8990 │ 23195 │ 500000.0  │ 1     │ 48.0    │ 0          │ 1          │
│ 8991 │ 22822 │ 200000.0  │ 1     │ 35.0    │ 0          │ 1          │
│ 8992 │ 27068 │ 230000.0  │ 0     │ 39.0    │ 0          │ 0          │
│ 8993 │ 7901  │ 210000.0  │ 1     │ 40.0    │ 1          │ 0          │
│ 8994 │ 26138 │ 180000.0  │ 1     │ 37.0    │ 0          │ 1          │
│ 8995 │ 18777 │ 220000.0  │ 1     │ 27.0    │ 0          │ 0          │
│ 8996 │ 26543 │ 290000.0  │ 1     │ 51.0    │ 1          │ 0          │
│ 8997 │ 29582 │ 380000.0  │ 0     │ 37.0    │ 1          │ 0          │
│ 8998 │ 3851  │ 50000.0   │ 0     │ 50.0    │ 0          │ 0          │
│ 8999 │ 2508  │ 20000.0   │ 0     │ 48.0    │ 1          │ 0          │
│ 9000 │ 1013  │ 450000.0  │ 0     │ 38.0    │ 0          │ 0          │

In [22]:
println(describe(Xytrain))

29×8 DataFrame
│ Row │ variable                   │ mean      │ min       │ median   │ max       │ nunique │ nmissing │ eltype   │
│     │ Symbol                     │ Float64   │ Real      │ Float64  │ Real      │ Nothing │ Nothing  │ DataType │
├─────┼────────────────────────────┼───────────┼───────────┼──────────┼───────────┼─────────┼──────────┼──────────┤
│ 1   │ ID                         │ 15031.6   │ 1         │ 15118.5  │ 30000     │         │          │ Int64    │
│ 2   │ LIMIT_BAL                  │ 1.67741e5 │ 10000.0   │ 140000.0 │ 800000.0  │         │          │ Float64  │
│ 3   │ SEX                        │ 0.604476  │ 0         │ 1.0      │ 1         │         │          │ Int64    │
│ 4   │ AGE                        │ 35.383    │ 21.0      │ 34.0     │ 75.0      │         │          │ Float64  │
│ 5   │ EDUCATION2                 │ 0.467524  │ 0         │ 0.0      │ 1         │         │          │ Int64    │
│ 6   │ EDUCATION3                 │ 0.163857  │ 0         │ 0.0      │ 1         │         │          │ Int64    │
│ 7   │ EDUCATION4                 │ 0.004     │ 0         │ 0.0      │ 1         │         │          │ Int64    │
│ 8   │ EDUCATION5                 │ 0.0100952 │ 0         │ 0.0      │ 1         │         │          │ Int64    │
│ 9   │ MARRIAGE2                  │ 0.534429  │ 0         │ 1.0      │ 1         │         │          │ Int64    │
│ 10  │ MARRIAGE3                  │ 0.0120952 │ 0         │ 0.0      │ 1         │         │          │ Int64    │
│ 11  │ PAY_0                      │ 0.35881   │ 0         │ 0.0      │ 8         │         │          │ Int64    │
│ 12  │ PAY_2                      │ 0.321095  │ 0         │ 0.0      │ 7         │         │          │ Int64    │
│ 13  │ PAY_3                      │ 0.306857  │ 0         │ 0.0      │ 8         │         │          │ Int64    │
│ 14  │ PAY_4                      │ 0.261714  │ 0         │ 0.0      │ 8         │         │          │ Int64    │
│ 15  │ PAY_5                      │ 0.225476  │ 0         │ 0.0      │ 8         │         │          │ Int64    │
│ 16  │ PAY_6                      │ 0.228762  │ 0         │ 0.0      │ 8         │         │          │ Int64    │
│ 17  │ BILL_AMT1                  │ 50979.6   │ -154973.0 │ 22493.0  │ 653062.0  │         │          │ Float64  │
│ 18  │ BILL_AMT2                  │ 48912.4   │ -69777.0  │ 21257.0  │ 671563.0  │         │          │ Float64  │
│ 19  │ BILL_AMT3                  │ 46942.4   │ -157264.0 │ 20190.5  │ 1.66409e6 │         │          │ Float64  │
│ 20  │ BILL_AMT4                  │ 43314.5   │ -170000.0 │ 19221.5  │ 706864.0  │         │          │ Float64  │
│ 21  │ BILL_AMT5                  │ 40308.6   │ -81334.0  │ 18294.5  │ 823540.0  │         │          │ Float64  │
│ 22  │ BILL_AMT6                  │ 38981.7   │ -339603.0 │ 17203.5  │ 699944.0  │         │          │ Float64  │
│ 23  │ PAY_AMT1                   │ 5637.46   │ 0.0       │ 2107.5   │ 873552.0  │         │          │ Float64  │
│ 24  │ PAY_AMT2                   │ 6040.18   │ 0.0       │ 2005.0   │ 1.68426e6 │         │          │ Float64  │
│ 25  │ PAY_AMT3                   │ 5260.81   │ 0.0       │ 1827.5   │ 889043.0  │         │          │ Float64  │
│ 26  │ PAY_AMT4                   │ 4834.97   │ 0.0       │ 1500.0   │ 621000.0  │         │          │ Float64  │
│ 27  │ PAY_AMT5                   │ 4922.47   │ 0.0       │ 1500.0   │ 426529.0  │         │          │ Float64  │
│ 28  │ PAY_AMT6                   │ 5208.64   │ 0.0       │ 1500.0   │ 528666.0  │         │          │ Float64  │
│ 29  │ default.payment.next.month │ 0.221667  │ 0         │ 0.0      │ 1         │         │          │ Int64    │

## Centering and Scaling

Because some of the variables take only positive values and/or have very large values, I perform centering and scaling on some of the variables. 

This allows for easier interpretation of the coefficients and the odds-ration later.

In [23]:
centerscalecols = [:LIMIT_BAL,
                   :AGE,
                   :BILL_AMT1,
                   :BILL_AMT2,
                   :BILL_AMT3,
                   :BILL_AMT4,
                   :BILL_AMT5,
                   :BILL_AMT6,
                   :PAY_AMT1,
                   :PAY_AMT2,
                   :PAY_AMT3,
                   :PAY_AMT4,
                   :PAY_AMT5,
                   :PAY_AMT6]

14-element Array{Symbol,1}:
 :LIMIT_BAL
 :AGE
 :BILL_AMT1
 :BILL_AMT2
 :BILL_AMT3
 :BILL_AMT4
 :BILL_AMT5
 :BILL_AMT6
 :PAY_AMT1
 :PAY_AMT2
 :PAY_AMT3
 :PAY_AMT4
 :PAY_AMT5
 :PAY_AMT6

The mean and standard deviation is estimated from the training set, and these values are used to standardize both the training and the test sets. The estimates of the mean and stddev are stored in a separate dataframe.

In [24]:
mu_sig = DataFrame(var=String[], mu=Float64[], std=Float64[])

for i in centerscalecols
    mu  = mean(Xytrain[i])
    sig = std(Xytrain[i])
    push!(mu_sig, [String(i), mu, sig])
    Xytrain[i] = (Xytrain[i] .- mu)./sig
    Xytest[i] = (Xytest[i] .- mu)./sig
end

┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[24]:4
└ @ Core ./In[24]:4
┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[24]:5
└ @ Core ./In[24]:5
┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[24]:7
└ @ Core ./In[24]:7
┌ Warning: `setindex!(df::DataFrame, v::AbstractVector, col_ind::ColumnIndex)` is deprecated, use `begin
│     df[!, col_ind] = v
│     df
│ end` instead.
│   caller = top-level scope at In[24]:7
└ @ Core ./In[24]:7
┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[24]:8
└ @ Core ./In[24]:8
┌ Warning: `setindex!(df::DataFrame, v::AbstractVector, col_ind::ColumnIndex)` is deprecated, use `begin
│     df[!, col_ind] = v
│     df
│ end` instead.
│   caller = top-level scope at In[24]:8
└ @ Core ./In[24]:8

In [25]:
mu_sig

14×3 DataFrame
│ Row │ var       │ mu        │ std       │
│     │ String    │ Float64   │ Float64   │
├─────┼───────────┼───────────┼───────────┤
│ 1   │ LIMIT_BAL │ 1.67741e5 │ 1.30153e5 │
│ 2   │ AGE       │ 35.383    │ 9.19344   │
│ 3   │ BILL_AMT1 │ 50979.6   │ 72864.5   │
│ 4   │ BILL_AMT2 │ 48912.4   │ 70396.1   │
│ 5   │ BILL_AMT3 │ 46942.4   │ 69285.7   │
│ 6   │ BILL_AMT4 │ 43314.5   │ 63918.1   │
│ 7   │ BILL_AMT5 │ 40308.6   │ 59989.0   │
│ 8   │ BILL_AMT6 │ 38981.7   │ 59045.3   │
│ 9   │ PAY_AMT1  │ 5637.46   │ 16814.1   │
│ 10  │ PAY_AMT2  │ 6040.18   │ 25160.8   │
│ 11  │ PAY_AMT3  │ 5260.81   │ 17134.3   │
│ 12  │ PAY_AMT4  │ 4834.97   │ 16002.7   │
│ 13  │ PAY_AMT5  │ 4922.47   │ 16184.8   │
│ 14  │ PAY_AMT6  │ 5208.64   │ 17288.0   │

In [26]:
println(describe(Xytrain))

29×8 DataFrame
│ Row │ variable                   │ mean         │ min       │ median    │ max     │ nunique │ nmissing │ eltype   │
│     │ Symbol                     │ Float64      │ Real      │ Float64   │ Real    │ Nothing │ Nothing  │ DataType │
├─────┼────────────────────────────┼──────────────┼───────────┼───────────┼─────────┼─────────┼──────────┼──────────┤
│ 1   │ ID                         │ 15031.6      │ 1         │ 15118.5   │ 30000   │         │          │ Int64    │
│ 2   │ LIMIT_BAL                  │ 2.36848e-18  │ -1.21196  │ -0.213141 │ 4.85781 │         │          │ Float64  │
│ 3   │ SEX                        │ 0.604476     │ 0         │ 1.0       │ 1       │         │          │ Int64    │
│ 4   │ AGE                        │ -2.90984e-16 │ -1.56448  │ -0.150433 │ 4.30927 │         │          │ Float64  │
│ 5   │ EDUCATION2                 │ 0.467524     │ 0         │ 0.0       │ 1       │         │          │ Int64    │
│ 6   │ EDUCATION3                 │ 0.163857     │ 0         │ 0.0       │ 1       │         │          │ Int64    │
│ 7   │ EDUCATION4                 │ 0.004        │ 0         │ 0.0       │ 1       │         │          │ Int64    │
│ 8   │ EDUCATION5                 │ 0.0100952    │ 0         │ 0.0       │ 1       │         │          │ Int64    │
│ 9   │ MARRIAGE2                  │ 0.534429     │ 0         │ 1.0       │ 1       │         │          │ Int64    │
│ 10  │ MARRIAGE3                  │ 0.0120952    │ 0         │ 0.0       │ 1       │         │          │ Int64    │
│ 11  │ PAY_0                      │ 0.35881      │ 0         │ 0.0       │ 8       │         │          │ Int64    │
│ 12  │ PAY_2                      │ 0.321095     │ 0         │ 0.0       │ 7       │         │          │ Int64    │
│ 13  │ PAY_3                      │ 0.306857     │ 0         │ 0.0       │ 8       │         │          │ Int64    │
│ 14  │ PAY_4                      │ 0.261714     │ 0         │ 0.0       │ 8       │         │          │ Int64    │
│ 15  │ PAY_5                      │ 0.225476     │ 0         │ 0.0       │ 8       │         │          │ Int64    │
│ 16  │ PAY_6                      │ 0.228762     │ 0         │ 0.0       │ 8       │         │          │ Int64    │
│ 17  │ BILL_AMT1                  │ 2.67299e-17  │ -2.82651  │ -0.390953 │ 8.26304 │         │          │ Float64  │
│ 18  │ BILL_AMT2                  │ -1.79327e-17 │ -1.68602  │ -0.392854 │ 8.84496 │         │          │ Float64  │
│ 19  │ BILL_AMT3                  │ 3.3497e-17   │ -2.94731  │ -0.38611  │ 23.3402 │         │          │ Float64  │
│ 20  │ BILL_AMT4                  │ 5.65051e-17  │ -3.33731  │ -0.376935 │ 10.3812 │         │          │ Float64  │
│ 21  │ BILL_AMT5                  │ 2.36848e-17  │ -2.02775  │ -0.36697  │ 13.0563 │         │          │ Float64  │
│ 22  │ BILL_AMT6                  │ 2.13163e-17  │ -6.41177  │ -0.368839 │ 11.1942 │         │          │ Float64  │
│ 23  │ PAY_AMT1                   │ -4.73695e-18 │ -0.335282 │ -0.209941 │ 51.6183 │         │          │ Float64  │
│ 24  │ PAY_AMT2                   │ 9.13555e-18  │ -0.240063 │ -0.160376 │ 66.6998 │         │          │ Float64  │
│ 25  │ PAY_AMT3                   │ 2.36848e-18  │ -0.307034 │ -0.200377 │ 51.5797 │         │          │ Float64  │
│ 26  │ PAY_AMT4                   │ -2.09779e-17 │ -0.302135 │ -0.208401 │ 38.5038 │         │          │ Float64  │
│ 27  │ PAY_AMT5                   │ 1.08273e-17  │ -0.304142 │ -0.211462 │ 26.0496 │         │          │ Float64  │
│ 28  │ PAY_AMT6                   │ -4.3986e-18  │ -0.301286 │ -0.214521 │ 30.2786 │         │          │ Float64  │
│ 29  │ default.payment.next.month │ 0.221667     │ 0         │ 0.0       │ 1       │         │          │ Int64    │

In [27]:
println(describe(Xytest))

29×8 DataFrame
│ Row │ variable                   │ mean        │ min       │ median    │ max     │ nunique │ nmissing │ eltype   │
│     │ Symbol                     │ Float64     │ Real      │ Float64   │ Real    │ Nothing │ Nothing  │ DataType │
├─────┼────────────────────────────┼─────────────┼───────────┼───────────┼─────────┼─────────┼──────────┼──────────┤
│ 1   │ ID                         │ 14927.9     │ 10        │ 14759.5   │ 29999   │         │          │ Int64    │
│ 2   │ LIMIT_BAL                  │ -0.00657212 │ -1.21196  │ -0.213141 │ 6.39446 │         │          │ Float64  │
│ 3   │ SEX                        │ 0.602       │ 0         │ 1.0       │ 1       │         │          │ Int64    │
│ 4   │ AGE                        │ 0.0371642   │ -1.56448  │ -0.150433 │ 4.74436 │         │          │ Float64  │
│ 5   │ EDUCATION2                 │ 0.468       │ 0         │ 0.0       │ 1       │         │          │ Int64    │
│ 6   │ EDUCATION3                 │ 0.164       │ 0         │ 0.0       │ 1       │         │          │ Int64    │
│ 7   │ EDUCATION4                 │ 0.00433333  │ 0         │ 0.0       │ 1       │         │          │ Int64    │
│ 8   │ EDUCATION5                 │ 0.0147778   │ 0         │ 0.0       │ 1       │         │          │ Int64    │
│ 9   │ MARRIAGE2                  │ 0.526778    │ 0         │ 1.0       │ 1       │         │          │ Int64    │
│ 10  │ MARRIAGE3                  │ 0.0136667   │ 0         │ 0.0       │ 1       │         │          │ Int64    │
│ 11  │ PAY_0                      │ 0.352       │ 0         │ 0.0       │ 8       │         │          │ Int64    │
│ 12  │ PAY_2                      │ 0.317556    │ 0         │ 0.0       │ 8       │         │          │ Int64    │
│ 13  │ PAY_3                      │ 0.297556    │ 0         │ 0.0       │ 7       │         │          │ Int64    │
│ 14  │ PAY_4                      │ 0.251889    │ 0         │ 0.0       │ 7       │         │          │ Int64    │
│ 15  │ PAY_5                      │ 0.212222    │ 0         │ 0.0       │ 7       │         │          │ Int64    │
│ 16  │ PAY_6                      │ 0.221444    │ 0         │ 0.0       │ 7       │         │          │ Int64    │
│ 17  │ BILL_AMT1                  │ 0.0111496   │ -2.97209  │ -0.396477 │ 12.5374 │         │          │ Float64  │
│ 18  │ BILL_AMT2                  │ 0.0126283   │ -1.65405  │ -0.396469 │ 13.2823 │         │          │ Float64  │
│ 19  │ BILL_AMT3                  │ 0.00340399  │ -0.970797 │ -0.389494 │ 9.32643 │         │          │ Float64  │
│ 20  │ BILL_AMT4                  │ -0.00268614 │ -1.05788  │ -0.386447 │ 13.2712 │         │          │ Float64  │
│ 21  │ BILL_AMT5                  │ 0.000152918 │ -1.69499  │ -0.375013 │ 14.7838 │         │          │ Float64  │
│ 22  │ BILL_AMT6                  │ -0.00620604 │ -1.27254  │ -0.376892 │ 15.6267 │         │          │ Float64  │
│ 23  │ PAY_AMT1                   │ 0.00517737  │ -0.335282 │ -0.210387 │ 29.6991 │         │          │ Float64  │
│ 24  │ PAY_AMT2                   │ -0.0157679  │ -0.240063 │ -0.159601 │ 15.6976 │         │          │ Float64  │
│ 25  │ PAY_AMT3                   │ -0.00683401 │ -0.307034 │ -0.203499 │ 51.9881 │         │          │ Float64  │
│ 26  │ PAY_AMT4                   │ -0.00185343 │ -0.302135 │ -0.208401 │ 26.7014 │         │          │ Float64  │
│ 27  │ PAY_AMT5                   │ -0.0253499  │ -0.304142 │ -0.211462 │ 25.522  │         │          │ Float64  │
│ 28  │ PAY_AMT6                   │ 0.00132246  │ -0.301286 │ -0.217413 │ 30.1905 │         │          │ Float64  │
│ 29  │ default.payment.next.month │ 0.220111    │ 0         │ 0.0       │ 1       │         │          │ Int64    │

# Saving the Processed Data

The parameter estimates, train set and test set are saved to CSV's.

In [28]:
CSV.write("Data/CCDataCleanTrain.csv", Xytrain)

"Data/CCDataCleanTrain.csv"

In [29]:
CSV.write("Data/CCDataCleanTest.csv", Xytest)

"Data/CCDataCleanTest.csv"

In [30]:
CSV.write("Data/MuSigmas.csv", mu_sig)

"Data/MuSigmas.csv"